body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
  color: #fff;
  height: 50px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 15px;
}

nav li.active {
  background-color: #666;
}

.content {
  padding: 20px;
}

.content h1 {
  margin-top: 0;
}

.summary {
  display: flex;
  justify-content: space-between;
}

.summary div {
  flex: 1;
  text-align: center;
}

.summary h2 {
  margin-top: 0;
}

.chart {
  height: 300px;
  background-color: #f5f5f5;
  margin-top: 20px;
}
